[submodule "vendor/SPIRV-Cross"]
	path = vendor/SPIRV-Cross
	url = git@github.com:jonas2602/SPIRV-Cross.git
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = git@github.com:jonas2602/glslang.git
[submodule "vendor/json"]
	path = vendor/json
	url = git@github.com:nlohmann/json.git
	branch = develop
