[submodule "vendor/SPIRV-Cross"]
	path = vendor/SPIRV-Cross
	url = git@github.com:jonas2602/SPIRV-Cross.git
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = git@github.com:jonas2602/glslang.git
